.card {
    margin-top: 1rem;
}

.design {
    background-color: rgb(179, 180, 180);
    color: black;
    border-radius: 6px;
    width: 30%;
    padding: 1.5rem 0;
    margin-left: auto;
    margin-right: auto;
    line-height: 2.5rem;
    font-size: 1.2rem;
    font-weight: 550;
    box-shadow: 0 0 15px 10px rgb(192, 197, 100);
}