.App {
    text-align: center;
}

.input-style {
    margin: 5px 0 7px 0;
    background-color: rgb(237, 243, 235);
    width: 12rem;
    border-radius: 3px;
    height: 1.8rem;
    font-weight: 600;
    margin-right: 0.5rem;
}

.button-style {
    background-color: rgb(244, 255, 85);
    border-color: yellow;
    color: black;
    width: 6rem;
    border-radius: 5px;
    height: 2rem;
    font-size: 16px;
}

.button-style:hover {
    color: black;
    font-weight: bold;
}